#!/bin/bash

# Postgres configurations
export POSTGRES_HOST=
export POSTGRES_USER= 
export POSTGRES_PASSWORD= 
export POSTGRES_DB=


#Redis configuration
export REDIS_HOST=
export REDIS_PASS=

# Github configuration

export GITHUB_CLIENT_ID=
export GITHUB_CLIENT_SECRET=


# AWS Configurations

export AWS_BUCKET=
export AWS_ACCESS=
export AWS_SECRET=

echo "Environment variables set successfully."


# Run with `` source env.sh ``
